json-server.codeformuenster.org {
  tls admin@codeformuenster.org
  gzip
  log stdout
  proxy / json-server:3000
}

unims-kli-api.codeformuenster.org {
  tls admin@codeformuenster.org
  gzip
  log stdout
  proxy / unims-kli-api:8080
  # cors
  # jsonp /
  # prometheus
}

slackin.codeformuenster.org {
  tls admin@codeformuenster.org
  gzip
  log stdout
  proxy / slackin:3000
}

prometheus.codeformuenster.org {
  tls admin@codeformuenster.org
  gzip
  log stdout
  proxy / prometheus:9090
}

grafana.codeformuenster.org {
  tls admin@codeformuenster.org
  gzip
  log stdout
  proxy / grafana:3000
}

geojson-display.codeformuenster.org {
  tls admin@codeformuenster.org
  gzip
  log stdout
  proxy / geojson-display:80
}

elasticsearch.codeformuenster.org {
  tls admin@codeformuenster.org
  gzip
  log stdout
  proxy / elasticsearch:9200
}

kibana.codeformuenster.org {
  tls admin@codeformuenster.org
  gzip
  log stdout
  proxy / kibana:5601
}

discuss.codeformuenster.org {
  tls admin@codeformuenster.org
  gzip
  log stdout
  proxy / discourse:3000
}
